# Build output
build/
debug/
release/
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp

# Qt generated
Makefile
Makefile.Debug
Makefile.Release
*.pro.user
*.pro.user.*
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
.qmake.stash
.qmake.cache

# Logs
*.log
log.log
build_debug.log
build_default.log

# Misc
_archive/

# IDE
.vs/
.vscode/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
.idea/
cmake-build-*/
